<form [formGroup]="myForm">

    <mat-form-field>
        <mat-select multiple  formControlName="drp" (selectionChange)="addForm($event.value)" placeholder="Select a Option">
            <mat-option *ngFor="let data of dataValues" [value]="data">
               {{data}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    
    <div formArrayName="details"  *ngFor="let newData of detailsData.controls; let i=index">
        <mat-card>
            <div  [formGroupName]="i">    
                <mat-form-field class="full-width">
                    <input matInput placeholder="Enter Name" formControlName="name">
                </mat-form-field>
                
                <mat-form-field class="full-width">
                    <input matInput placeholder="Enter Mobile Number" formControlName="mobile">
                </mat-form-field>
                
                <mat-form-field class="full-width">
                    <input matInput placeholder="Enter Email" formControlName="email">
                </mat-form-field> <br><br>
            </div> 
        </mat-card>
    </div>  

</form>
